@import "modules/variables";
@import "modules/mixin";

.main-notes {
  @include size(95%, auto, 42em, 100vh, 100vw, auto);
  @include center-flex {
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
  }
  position: relative;
  margin: auto;

  overflow: hidden;

  .edit {
    display: flex;

    .sub-edit {
      min-height: calc(100% - 80px);
      @include center-flex {
        flex-direction: column;
      }
      overflow: hidden;
    }
    .tools-views {
      @include size(50vw, auto, 20px, 50vh, 40px, 50%);
      @include center-flex;
      margin: 10px 0 5px 5px;
      .content-data-t-views {
        @include size(100%, auto);
        @include simple-color($fondo-claro-solid);
        @include center-flex(15px) {
          flex-direction: column;
        }
        overflow: hidden;
        padding: 20px 0;
        margin: auto;
        border: 1px solid $transparent;
        &:hover {
          border-color: black;
          transition: border-color 0.5s;
        }
        .item {
          @include size(100%, auto);
          object-fit: cover;
          cursor: pointer;
          border-radius: 15px;
          border: 1px solid $transparent;
          &:hover {
            border: 1px solid black;
            transition: border-color 0.5s;
          }
        }
      }
    }
  }

  .content-html1 {

    @include center-flex {
      flex-direction: column;
    }
    overflow: hidden;

    .html {
      @include size(100%, 90vh);
      min-height: max-content;
      @include simple-color($fondo-gris75-opaco);
      overflow: scroll !important;
      border: 1px solid black;

      .body {
        margin: auto;
        width: 100%;
        min-height: max-content;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    .tool-html {
      @include size(100%, auto, 0, 80px, 100%, clamp(80px, 10vh, 400px));

      @include simple-color($fondo-gris75-opaco);
      @include center-flex(30px) {
        justify-content: flex-start;
        flex-wrap: wrap;
      }

      margin: 10px 0 10px 0;
      padding: 20px;

      overflow: visible;

      .content-select {
        display: inline-block;
        cursor: pointer;

        border: 1px solid black;
        @include size(max-content, 40px);

        select {
          @include size(max-content, max-content, 30px, 40px);
          cursor: pointer;
          border: 1px solid black;
        }
      }
    }
  }
}
