.main-notes {
  width: 100%;
  min-height: 95vh;
  height: auto;
  background-color: red;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  overflow: hidden;

  .edit {
    display: flex;
    flex-direction: column;
    width: 70%;
    min-height: 95vh;
    height: auto;
  }

  .btn-move {
  }

  .content-html1 {
    width: 30%;
    min-height: 95vh;
    height: auto;
    max-height: 100%;

    &::-webkit-scrollbar {
      display: none;
    }
    .temp {
      min-height: 60px;
      height: auto;
    }

    .html {
      width: 100%;
      height: 90vh;
      overflow: hidden;
      
      
      .body {
        overflow: scroll !important;
        margin: 0;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}
