@import "modules/variables";
@import "modules/mixin";

.routes {
  @include size(100%, auto, 0, 40px);
  @include simple-color($fondo-oscuro-solid);
  @include center-flex {
    justify-content: flex-end;
  }
  margin: auto;
  overflow: hidden;

  .routes-ul {
    @include size(clamp(100px, 90%, 100vw), 100%);
    @include simple-color($fondo-oscuro-solid, $fondo-claro-solid);
    @include center-flex {
      justify-content: flex-end;
      flex-wrap: wrap;
      gap: 30px;
    }
    list-style-type: none;
    padding: 10px 0;
    margin: auto;

    .routes-li {
      @include size(max-content, 100%);
      @include simple-color($fondo-oscuro-solid);
      @include center-flex;
      font-size: 1.2rem;
      font-family: "Poppins", sans-serif;
      text-decoration: none;

      a {
        @include size(100%, 100%);
        @include simple-color($transparent, $fondo-claro-solid);
        text-decoration: none;
        padding: 10px;

        p {
          @include size(100%, 100%);
          @include simple-color($transparent, $fondo-claro-solid);
          border-bottom: 1px solid rgba(0, 0, 0, 0);
          transition: border-bottom 0.2s ease-in-out;
          &:hover {
            border-bottom: 1px solid rgb(114, 173, 255);
          }
        }
      }
    }
  }
}
