// colores mas usados

$fondo-oscuro-solid: rgba(30, 30, 30, 1);
$fondo-claro-solid: rgba(255, 255, 255, 1);

$color-rojo-pruebas: rgba(255, 0, 0, 1);
$color-rojo-production: rgba(255, 0, 0, 1);

$color-azul-solido: rgba(51, 142, 251, 1);
$color-boton-fondo: rgba(229, 229, 229,1);

$fondo-gris97-opaco: rgba(97, 97, 97, 1);
$fondo-gris75-opaco: rgba(75, 75, 75, 1);

$transparent: rgba(0, 0, 0, 0);


// valores


$max-width: 1920px;
$max-height: 1080px;

